:root {
  --color-navy: #001f3f;      
  --color-sky: #3a7bd5;        
  --color-ocean: #004b8d;      
  --color-aqua: #c6e8f7;       
  --color-sand: #f4e1c1;       
  --color-slate: #2f3e46;     
  --heading-font: "Bree Serif", serif;
  --body-font: "Outfit", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font)
    max-width: auto;
    display: block;
    margin: auto;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 500;
    background: var(--color-navy)
}

h2, h3 {
 font-family: var(--heading-font);
    font-weight: 500;
    color: #000;
}

header {
    background: var(--color-ocean);
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-family: var(--heading-font);
    padding: 1rem;
    text-align: center; 
    color: #f4e1c1;

}
#course-title {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    font-family: var(--heading-font);
    padding: 1rem;
    text-align: center;
    background-color: #001f3f;
    color: #f4e1c1;
}

nav {
    background: var(--color-ocean);
    margin: 0 auto;
    color:#fff;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    flex: 1 1 auto;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  transition: background 0.3s ease, color 0.3s ease;  
}

nav a:hover {
  background: var(--color-sky);   
  color: var(--color-slate);      
}


main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;       
  margin: 0 auto;          
  gap: 1rem;               
  padding: 1rem;           
}


main h1 {
    grid-column: 1/4;
    text-align: center;
    padding: 1rem;
}

.card {
    height: 100%;
    background: var(--color-aqua);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 1rem;
}

.about-content{
    display: grid;
    grid-template: auto 1fr auto / 1.5fr 1fr;
    place-items: center;
    color: #000;
}

.location {
    display: grid;
    grid-template: auto 1fr auto / 1fr 1fr;
    place-items: center;
}

.card h2, h3 {
    grid-column: 1/3;
    text-align: center;
    padding: .5rem;
    color: var(--color-navy);
    width: 100%;
    margin: .5rem;
  border-bottom: 1px solid #000; 
}



.miora-profile {
    border-radius: 20%;
    margin: 1rem;
    border: 2px solid var(--color-ocean);
}


.location p {
    padding: 1rem 2rem 1rem 1rem;
    text-align: center;
}

.card_resources h2 {
    color: var(--color-navy)
}

.card_resources {
    background: var(--color-sand);
    padding-top: 2rem;
    text-align: center;
}

.card_resources ul {
    list-style: none;
    padding: 2rem;
}

.card_resources ul li {
    padding: .5rem 0;
}




.card_resources a, .location a {
    color: rgb(0,0,139); 
    text-decoration: none;
    transition: color 0.3s ease; 
}


footer {
    background: var(--color-navy);
    padding: 2rem;
    text-align: center;
    color: #f4e1c1;
}

